html {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 15vw;
  height: 35rem;
  flex-direction: column;
}
span {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
