html,
body {
  height: 100%;
}

body {
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
div.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h1 {
  margin: 0;
}
