body {
  text-align: center;
}
h1 {
  font-family: "Times mew Roman", Times, serif;
  line-height: 1.15px;
  color: #747474;
}
span {
  font-style: oblique;
  color: #5c5a5a;
  line-height: 1.46;
  font-weight: 600;
}
p {
  line-height: 1.46;
  font-weight: 600;
}
